<app-navbar></app-navbar>
<div class = "container">
<div class="userData" *ngFor="let user of userLoged">
    <p class="title">Datos Personales</p>
    <ul class="opUserName">
        <li>
            <p><span class="userDataLabel">Nombre de Usuario:</span> {{user.userName}}</p>
            <button class="changeButton" (click)="updateUsername('1')">Cambiar</button>
        </li>
    </ul>
    <ul class="otherDates">
        <li>
            <p><span class="userDataLabel">Correo Electrónico:</span> {{user.email}}</p>
            <button class="changeButton" (click)="updatePassword('1')">Cambiar Contraseña</button>
        </li>
    </ul>
    <button class="favoritesButton" (click)="navigateToFavorites()">FAVORITOS</button>
</div>
</div>
<app-footer></app-footer>