<<<<<<< HEAD
body {
    height: 100%;
    margin: 0;
}
=======
/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}
>>>>>>> 288b66506a3004e4f6999df1a3b452ace52be2ac
