footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #477694; 
    color: #fff; 
    padding: 0px; 
    text-align: center; 
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}